<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	   xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-4.1.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.10.2.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/data/repository
          http://www.springframework.org/schema/data/repository/spring-repository-1.5.xsd">
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:mongo.properties"/>

	<mongo:mongo-client id="mongo" host="${mongo.host}" port="${mongo.port}" credentials="${mongo.user}:${mongo.pwd}@${mongo.defaultDbName}">
		<!-- 一些连接属性的设置 -->
		<mongo:client-options
				connections-per-host="${mongo.connectionsPerHost}"
				min-connections-per-host="${mongo.minConnectionsPerHost}"
				threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
				connect-timeout="${mongo.connectTimeout}"
				max-wait-time="${mongo.maxWaitTime}"
				socket-keep-alive="${mongo.socketKeepAlive}"
				socket-timeout="${mongo.socketTimeout}"
				description="${mongo.description}"
				max-connection-idle-time="${mongo.maxConnectionIdleTime}"
				max-connection-life-time="${mongo.maxConnectionLifeTime}"
				write-concern="${mongo.writeConcern}"
				heartbeat-socket-timeout="${mongo.heartbeatSocketTimeout}"
				heartbeat-connect-timeout="${mongo.heartbeatConnectTimeout}"
				min-heartbeat-frequency="${mongo.minHeartbeatFrequency}"
				heartbeat-frequency="${mongo.heartbeatFrequency}"
		/>
	</mongo:mongo-client>

	<!-- mongo的工厂，通过它来取得mongo实例,dbname为mongodb的数据库名，没有的话会自动创建 -->
	<mongo:db-factory id="mongoDbFactory" dbname="${mongo.defaultDbName}" mongo-ref="mongo"/>

	<!-- mongodb的主要操作对象，所有对mongodb的增删改查的操作都是通过它完成 -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
	</bean>

	<mongo:mapping-converter id="converter" db-factory-ref="mongoDbFactory"/>

	<!-- mongodb GridFS Template, 操作mongodb存放的文件 -->
	<bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg ref="mongoDbFactory"/>
		<constructor-arg ref="converter"/>
	</bean>
</beans>