<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.bossien">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>

    </context:component-scan>

    <util:properties id="dbConfig" location="classpath:/jdbc.properties"/>

    <!-- 单独拆分数据源 指向资源中心 方便上云 -->
    <bean id="dataSource_ap" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="#{dbConfig['mysql_driver_class']}"/>
        <property name="url" value="#{dbConfig['ap.jdbc_url']}"/>
        <property name="username" value="#{dbConfig['ap.jdbc_user']}"/>
        <property name="password" value="#{dbConfig['ap.jdbc_password']}"/>
        <property name="initialSize" value="#{dbConfig['initialSize']}"/>
        <property name="maxTotal" value="#{dbConfig['maxTotal']}"/>
        <property name="maxIdle" value="#{dbConfig['maxIdle']}"/>
        <property name="maxWaitMillis" value="#{dbConfig['maxWaitMillis']}"/>
    </bean>

    <bean id="transactionManager_ap"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource_ap"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager_ap"/>

    <tx:advice id="txAdvice_ap" transaction-manager="transactionManager_ap">
        <tx:attributes>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="remove*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="insert*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="save*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="update*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="find*" propagation="SUPPORTS"/>
            <tx:method name="get*" propagation="SUPPORTS"/>
            <tx:method name="select*" propagation="SUPPORTS"/>
            <tx:method name="list*" propagation="SUPPORTS"/>
            <tx:method name="query*" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="interceptorPointCuts_ap"
                      expression="execution(public * com.bossien.train.service.*.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice_ap" pointcut-ref="interceptorPointCuts_ap"/>
    </aop:config>

    <bean id="sqlSessionFactory_ap" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_ap"/>
        <property name="mapperLocations">
            <list>
                <value>classpath*:mapper/ex/*.xml</value>
                <value>classpath*:mapper/ap/*.xml</value>
            </list>
        </property>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="com.bossien.train.domain"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bossien.train.dao.ap,com.bossien.train.dao.ex"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_ap"/>
    </bean>

    <!-- 单独拆分数据源 指向培训平台 方便上云 -->
    <bean id="dataSource_tp" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="#{dbConfig['mysql_driver_class']}"/>
        <property name="url" value="#{dbConfig['tp.jdbc_url']}"/>
        <property name="username" value="#{dbConfig['tp.jdbc_user']}"/>
        <property name="password" value="#{dbConfig['tp.jdbc_password']}"/>
        <property name="initialSize" value="#{dbConfig['initialSize']}"/>
        <property name="maxTotal" value="#{dbConfig['maxTotal']}"/>
        <property name="maxIdle" value="#{dbConfig['maxIdle']}"/>
        <property name="maxWaitMillis" value="#{dbConfig['maxWaitMillis']}"/>
    </bean>

    <bean id="transactionManager_tp"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource_tp"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager_tp"/>

    <tx:advice id="txAdvice_tp" transaction-manager="transactionManager_tp">
        <tx:attributes>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="remove*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="insert*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="save*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="update*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
            <tx:method name="find*" propagation="SUPPORTS"/>
            <tx:method name="get*" propagation="SUPPORTS"/>
            <tx:method name="select*" propagation="SUPPORTS"/>
            <tx:method name="list*" propagation="SUPPORTS"/>
            <tx:method name="query*" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="interceptorPointCuts_tp"
                      expression="execution(public * com.bossien.train.service.*.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice_tp" pointcut-ref="interceptorPointCuts_tp"/>
    </aop:config>

    <bean id="sqlSessionFactory_tp" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_tp"/>
        <property name="mapperLocations">
            <list>
                <value>classpath*:mapper/tp/*.xml</value>
            </list>
        </property>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="com.bossien.train.domain"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bossien.train.dao.tp"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_tp"/>
    </bean>

    <aop:aspectj-autoproxy/>

    <bean id="super_admin" class="com.bossien.train.domain.Role">
        <constructor-arg name="id" value="b45fb990-dd8b-4857-97bd-8ce8d60424ac"/>
        <constructor-arg name="roleName" value="super_admin"/>
        <constructor-arg name="roleDesc" value="超级管理员"/>
    </bean>

    <bean id="company_admin" class="com.bossien.train.domain.Role">
        <constructor-arg name="id" value="d685f6c9-8a25-4fc1-9dbd-8b684ec70e3a"/>
        <constructor-arg name="roleName" value="company_admin"/>
        <constructor-arg name="roleDesc" value="单位管理员"/>
    </bean>
    <bean id="super_vise" class="com.bossien.train.domain.Role">
        <constructor-arg name="id" value="ffefa04c-d274-4694-ba49-904f790c234b"/>
        <constructor-arg name="roleName" value="super_vise"/>
        <constructor-arg name="roleDesc" value="监管人员"/>
    </bean>
    <bean id="company_user" class="com.bossien.train.domain.Role">
        <constructor-arg name="id" value="5b9e9b3e-9ca5-4dfd-91f0-de584d439121"/>
        <constructor-arg name="roleName" value="company_user"/>
        <constructor-arg name="roleDesc" value="学员"/>
    </bean>

    <bean id="springContextHolder" class="com.bossien.framework.context.SpringContextHolder"/>

</beans>