@charset "utf-8";
// 顶部菜单
// 背景颜色
$nav-bg: #222641;
// logo背景颜色 
$nav-logo-bg: #191f33;
// 高亮字体颜色
$nav-font-active: #20a2ff;
// 图片引用目录
$imgPath: '../../img/';
// 字体颜色
$nav-font-static :#bfd9eb;
// 背景主色
$main-bg: #f6f8fd;
$while: #ffffff;
// 主页
// 昵称颜色
$main-font-color:#344257;
// 摘要颜色
$main-aside-color: #526172;
// 数据统计虚线颜色
$main-stis-border-color: #e7e8e9;
// 挂机短信内容颜色
$hangup-text-color: #8f99a8;
// 挂机短信类型颜色/二级菜单title
$hangup-type-color: #4b586a;
// 二级菜单高亮背景颜色
$sub-nav-hover:#ecedf2;
// 二级菜单title下划线
$sub-nav-border:#e8e8e8;
//生意联盟
$aia-color:#414c59;
//生意联盟按钮边框颜色
$aia-btn-border:#d3dae5;
// 生意联盟列表头背景颜色
$aia-items-title: #f4f5f9;
// 生意联盟列表边框颜色
$aia-items-border: #e7e7eb;
// 生意联盟列表操作按钮文本颜色
$aia-items-link:#208ada;
// 红色
$red:#f14034;
// 绿色
$blue: #007fda;
$c03b5fb: #03b5fb;
$c32373d: #32373d;
$c344257: #344257;
$c939aa2: #939aa2;
$e7e6eb: #e7e6eb;
$c526172: #526172;
$green:#44b549;