@charset "utf-8";
.pd_10{padding:10px;}
.pd_20{padding:20px;}
.mg_t_20{margin-top:20px;}
.mg_b_20{margin-bottom:20px;}
.w_890{width:890px;}
.w_300{width:300px;}
.bg_f{background:#fff;}
.bg_fa{background:#fafafa;}

.h{border-bottom:1px solid #e0e0e0;padding-bottom:20px;}
.h h2{margin-bottom:10px;}
.b p{text-indent: 2em;margin-top:20px;font-size:14px;line-height:24px;}
.b dd{ position: relative;font-size:14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding:20px 25px;margin-bottom:10px;border-bottom:1px solid #ddd;}
.b dd span{position: absolute;width:20px;height:20px;text-align:center;line-height: 20px;background: #ddd;border-radius: 3px;font-size:12px;left:0;}
.b dd:nth-child(2) span,.b dd:nth-child(3) span,.b dd:nth-child(4) span{background:#CA9191;color:#fff;}


















