<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bossien.train.dao.tp.CompanyPermissionMapper">

	<resultMap id="companyPermissionMap" type="com.bossien.train.domain.CompanyPermission">
		<id column="company_id" property="companyId"></id>
		<result column="purview" property="purview"></result>
	</resultMap>

	<sql id="baseColumn">
		company_id,purview
	</sql>

	<insert id="insert" parameterType="com.bossien.train.domain.CompanyPermission">
		insert into company_permission	(
		<trim prefix="" prefixOverrides=",">
			<if test="companyId !=null and companyId != ''">,company_id</if>
			<if test="purview !=null and purview !=''">,purview</if>
		</trim>
		) values (
		<trim prefix="" prefixOverrides=",">
			<if test="companyId !=null and companyId !=''"> ,#{companyId} </if>
			<if test="purview !=null and purview !=''"> ,#{purview} </if>
		</trim>
		)
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into company_permission (company_id,purview) values
		<if test="list !=null and list.size >0">
			<foreach item="item" index="index" collection="list" separator=",">
				(
					#{item.companyId},#{item.purview}
				)
			</foreach>
		</if>
	</insert>

	<select id="selectList" parameterType="java.util.Map" resultMap="companyPermissionMap">
		select
		<include refid="baseColumn"/>
		FROM company_permission
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="companyId !=null and companyId !=''">
				and company_id = #{companyId}
			</if>
			<if test="purview !=null and purview !=''">
				and purview = #{purview}
			</if>
		</trim>
		<include refid="CommonMapper.mysqlPage" />
	</select>

	<select id="selectOne" parameterType="java.util.Map" resultMap="companyPermissionMap">
		select
		<include refid="baseColumn"/>
		FROM company_permission
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="companyId !=null and companyId !=''">
				and company_id = #{companyId}
			</if>
			<if test="purview !=null and purview !=''">
				and purview = #{purview}
			</if>
		</trim>
		limit 1
	</select>

	<select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) FROM company_permission
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="companyId !=null and companyId !=''">
				and company_id = #{companyId}
			</if>
			<if test="purview !=null and purview !=''">
				and purview = #{purview}
			</if>
		</trim>
	</select>

	<delete id="delete" parameterType="java.util.List">
		DELETE from company_permission
		where company_id in
		<foreach item="item" index="index" collection="list" separator="," open="(" close=")">
			#{item}
		</foreach>
	</delete>

</mapper>