<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bossien.train.dao.tp.ProjectDepartmentMapper">

    <resultMap id="projectDepartmentMap" type="com.bossien.train.domain.ProjectDepartment">
        <id column="id" property="id"></id>
        <result column="project_id" property="projectId"></result>
        <result column="company_id" property="companyId"></result>
        <result column="dept_id" property="deptId"></result>
        <result column="dept_name" property="deptName"></result>
        <result column="create_time" property="createTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="oper_time" property="operateTime"></result>
        <result column="oper_user" property="operateUser"></result>
    </resultMap>

    <insert id="insertProjectDepartment" parameterType="com.bossien.train.domain.ProjectDepartment">
        insert into project_department	(
        <trim prefix="" prefixOverrides=",">
            <if test="id !=null and id != ''">,id</if>
            <if test="projectId !=null and projectId !=''">,project_id</if>
            <if test="companyId !=null and companyId !=''">,company_id</if>
            <if test="deptId !=null and deptId !=''">,dept_id</if>
            <if test="deptName !=null and deptName !=''">,dept_name</if>
            <if test="createUser !=null and createUser !=''">,create_user</if>
            <if test="createTime !=null and createTime !=''">,create_time</if>
            <if test="operateUser !=null and operateUser !=''"> ,oper_user </if>
            <if test="operateTime !=null and operateTime !=''"> ,oper_time </if>
        </trim>
        ) values (
        <trim prefix="" prefixOverrides=",">
            <if test="id !=null and id !=''"> ,#{id} </if>
            <if test="projectId !=null and projectId !=''"> ,#{projectId} </if>
            <if test="companyId !=null and companyId !=''"> ,#{companyId} </if>
            <if test="deptId !=null and deptId !=''"> ,#{deptId} </if>
            <if test="deptName !=null and deptName !=''">,#{deptName}</if>
            <if test="createUser !=null and createUser !=''"> ,#{createUser} </if>
            <if test="createTime !=null and createTime !=''"> ,#{createTime} </if>
            <if test="operateUser !=null and operateUser !=''"> ,#{operateUser} </if>
            <if test="operateTime !=null and operateTime !=''"> ,#{operateTime} </if>
        </trim>
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into project_department (
        id, project_id, company_id, dept_id, dept_name,
        create_user, create_time, oper_user, oper_time
        )
        values
        <if test="list !=null and list.size() >0">
            <foreach item="item" index="index" collection="list" separator=",">
                (
                #{item.id}, #{item.projectId}, #{item.companyId}, #{item.deptId}, #{item.deptName},
                #{item.createUser}, #{item.createTime}, #{item.operateUser}, #{item.operateTime}
                )
            </foreach>
        </if>
    </insert>

    <update id="update" parameterType="java.util.Map">
        UPDATE project_department
        <trim prefix="SET" prefixOverrides=",">
            <if test="deptName != null and deptName !=''">
                ,dept_name = #{deptName}
            </if>
            <if test="operUser !=null and operUser !=''"> ,oper_user = #{operUser} </if>
            <if test="operTime !=null and operTime !=''"> ,oper_time = #{operTime} </if>
        </trim>
        WHERE dept_id = #{deptId} AND company_id = #{companyId}
    </update>

    <!--通过projectId和companyId查询受训单位-->
    <select id="selectByProjectIdAndCompanyId" parameterType="java.util.Map" resultMap="projectDepartmentMap">
        select dept_id,dept_name,company_id from project_department
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="projectId !=null and projectId !='' ">
                AND project_id= #{projectId}
            </if>
          <if test="companyId!=null and companyId!=''">
                AND  company_id  = #{companyId}
          </if>
        </trim>
    </select>

    <!--查询受训单位信息-->
    <select id="selectProDeptInfo" parameterType="java.util.Map" resultMap="projectDepartmentMap">
        select GROUP_CONCAT(dept_name) as dept_name,company_id from project_department
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="projectId !=null and projectId !='' ">
                AND project_id= #{projectId}
            </if>
            <if test="companyId!=null and companyId!=''">
                AND  company_id  = #{companyId}
            </if>
        </trim>
        Group BY company_id
    </select>

    <!--根据projectId删除-->
   <delete id="delete" parameterType="java.util.Map">
       DELETE FROM project_department where project_id = #{projectId}
   </delete>

    <!--通过projectId和companyId查询部门Id-->
    <select id="selectDepartmentId" parameterType="java.util.Map" resultMap="projectDepartmentMap">
        select dept_id from project_department
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="projectId !=null and projectId !='' ">
                AND project_id= #{projectId}
            </if>
            <if test="companyId!=null and companyId!=''">
                AND  company_id  = #{companyId}
            </if>
        </trim>
    </select>
</mapper>