<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bossien.train.dao.tp.RoleMapper">

    <resultMap id="roleMap" type="com.bossien.train.domain.Role">
        <id column="id" property="id"></id>
        <result column="role_name" property="roleName"></result>
        <result column="role_desc" property="roleDesc"></result>
        <result column="create_user" property="createUser"></result>
        <result column="create_date" property="createDate"></result>
        <result column="oper_user" property="operUser"></result>
        <result column="oper_date" property="operDate"></result>
    </resultMap>

    <sql id="baseColumn">
		id, role_name, role_desc, create_user,create_date,oper_user,oper_date
	</sql>

    <select id="selectOne" parameterType="com.bossien.train.domain.Role" resultType="com.bossien.train.domain.Role">
        select
        id,role_name as roleName,role_desc as roleDesc
        from role
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="roleName !=null and roleName !='' ">
                AND role_name = #{roleName}
            </if>
            <if test="id !=null and id !='' ">
                AND id = #{id}
            </if>
        </trim>
        limit 1
    </select>

</mapper>