<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bossien.train.dao.tp.UserWorkMapper">

    <resultMap id="userWorkMap" type="com.bossien.train.domain.UserWork">
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="company_id" property="companyId"></result>
        <result column="dept_id" property="deptId"></result>
        <result column="dept_name" property="deptName"></result>
        <result column="entry_time" property="entryTime"></result>
        <result column="quit_time" property="quitTime"></result>
        <result column="operater" property="operater"></result>
        <result column="create_user" property="createUser"></result>
        <result column="create_time" property="createTime"></result>
        <result column="oper_user" property="operUser"></result>
        <result column="oper_time" property="operTime"></result>
    </resultMap>

    <sql id="baseColumn">
		id, user_id, company_id, dept_id,dept_name,entry_time,quit_time,operater,create_user,create_time,oper_user,oper_time
	</sql>

    <insert id="insert" parameterType="com.bossien.train.domain.UserWork">
        insert into user_work (
        <trim prefix="" prefixOverrides=",">
            <if test="id !=null and id != ''">,id</if>
            <if test="userId !=null and userId !=''">,user_id</if>
            <if test="companyId !=null and companyId !=''">,company_id</if>
            <if test="deptId !=null and deptId !=''">,dept_id</if>
            <if test="deptName !=null and deptName !=''">,dept_name</if>
            <if test="entryTime !=null and entryTime !=''">,entry_time</if>
            <if test="quitTime !=null and quitTime !=''">,quit_time</if>
            <if test="operater !=null and operater !=''">,operater</if>
            <if test="createUser !=null and createUser !=''">,create_user</if>
            <if test="createTime !=null and createTime !=''">,create_time</if>
            <if test="operUser !=null and operUser !=''">,oper_user</if>
            <if test="operTime !=null and operTime !=''">,oper_time</if>
        </trim>
        ) values (
        <trim prefix="" prefixOverrides=",">
            <if test="id !=null and id != ''">,#{id}</if>
            <if test="userId !=null and userId !=''">,#{userId}</if>
            <if test="companyId !=null and companyId !=''">,#{companyId}</if>
            <if test="deptId !=null and deptId !=''">,#{deptId}</if>
            <if test="deptName !=null and deptName !=''">,#{deptName}</if>
            <if test="entryTime !=null and entryTime !=''">,#{entryTime}</if>
            <if test="quitTime !=null and quitTime !=''">,#{quitTime}</if>
            <if test="operater !=null and operater !=''">,#{operater}</if>
            <if test="createUser !=null and createUser !=''">,#{createUser}</if>
            <if test="createTime !=null and createTime !=''">,#{createTime}</if>
            <if test="operUser !=null and operUser !=''">,#{operUser}</if>
            <if test="operTime !=null and operTime !=''">,#{operTime}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="com.bossien.train.domain.UserWork">
        update user_work
        <trim prefix="set" prefixOverrides=",">
            <if test="userId !=null and userId !=''">,user_id = #{userId}</if>
            <if test="companyId !=null and companyId !=''">,company_id = #{companyId}</if>
            <if test="deptId !=null and deptId !=''">,dept_id = #{deptId}</if>
            <if test="deptName !=null and deptName !=''">,dept_name = #{deptName}</if>
            <if test="entryTime !=null and entryTime !=''">,entry_time = #{entryTime}</if>
            <if test="operater !=null and operater !=''">,operater = #{operater}</if>
            <if test="quitTime !=null and quitTime !=''">,quit_time = #{quitTime}</if>
            <if test="createUser !=null and createUser !=''">,create_user = #{createUser}</if>
            <if test="createTime !=null and createTime !=''">,create_time = #{createTime}</if>
            <if test="operUser !=null and operUser !=''">,oper_user = #{operUser}</if>
            <if test="operTime !=null and operTime !=''">,oper_time = #{operTime}</if>
        </trim>
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id !=null and id !=''">
                and id=#{id}
            </if>
            <if test="userId !=null and userId !=''">
                and user_id=#{userId}
            </if>
        </trim>
    </update>

    <select id="selectOne" parameterType="java.util.Map" resultType="com.bossien.train.domain.UserWork">
        select
        <include refid="baseColumn"/>
        from user_work
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId !=null and userId !='' ">
                AND user_id = #{userId}
            </if>
            <if test="companyId !=null and companyId !='' ">
                AND company_id = #{companyId}
            </if>
            <if test="operater !=null and operater !='' ">
                AND operater = #{operater}
            </if>
            <if test="entryTime !=null and entryTime !='' ">
                AND entry_time = #{entryTime}
            </if>
        </trim>
        limit 1
    </select>

    <select id="selectList" parameterType="com.bossien.train.domain.UserWork" resultMap="userWorkMap">
        select
          <include refid="baseColumn"/>
        from user_work
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId !=null and userId !='' ">
                AND user_id = #{userId}
            </if>
            <if test="companyId !=null and companyId !='' ">
                AND company_id = #{companyId}
            </if>
            <if test="operater !=null and operater !='' ">
                AND operater = #{operater}
            </if>
            <if test="entryTime !=null and entryTime !='' ">
                AND entry_time = #{entryTime}
            </if>
        </trim>
        order by create_time desc
    </select>

    <delete id="delete" parameterType="com.bossien.train.domain.UserWork">
        delete from user_work
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId !=null and userId !='' ">
                AND user_id = #{userId}
            </if>
        </trim>
    </delete>

    <delete id="batchDelUserWork" parameterType="HashMap">
        delete from user_work
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userIds !=null and userIds.size() > 0">
                <foreach item="item" index="index" collection="userIds" open="(" separator="or" close=")">
                    user_id= #{item}
                </foreach>
            </if>
        </trim>
    </delete>
</mapper>